<a class="skip-link" href="#contenu">{{ 'portail.layout.skipToContent' | translate }}</a>

<header class="site-header">
  <div class="header-row">
    <a class="brand" [routerLink]="homeLink()">{{ 'shared.appName' | translate }}</a>
    <div class="header-tools">
      @if (session.authenticated()) {
        <a class="account-link" routerLink="/compte">{{
          'portail.layout.myAccount' | translate
        }}</a>
      } @else {
        <a class="account-link" routerLink="/compte/connexion">
          {{ 'portail.layout.signIn' | translate }}
        </a>
      }
      @if (context.paths()) {
        <portail-language-links />
      } @else {
        <gc-language-switcher />
      }
    </div>
  </div>
  <portail-site-nav location="header" />
</header>

<main id="contenu" class="site-main" tabindex="-1">
  <router-outlet />
</main>

<footer class="site-footer">
  <portail-site-nav location="footer" />
  <p>{{ 'portail.layout.footer' | translate }}</p>
</footer>
